## Pandas

Pandas is a Python library used for working with data—especially tables, spreadsheets, and time-series data.
## What Pandas is mainly used for

1. Reading data (CSV, Excel, JSON, SQL, etc.)
2. Cleaning messy data (missing values, duplicates)
3. Analyzing data (filters, groups, summaries)
4. Manipulating data (add/remove columns, sort, merge)
5. Basic data exploration before ML or visualization

### Why Pandas is so popular

1. Very easy to use
2. Fast and efficient
3. Works great with NumPy, Matplotlib, Seaborn
4. Widely used in Data Science, ML, AI, Finance, DevOps analytics

In [55]:
# importing pandas library
import pandas as pd

In [56]:
# reading the csv file
df=pd.read_csv(r"C:\Users\dell\Desktop\Data Anylytics\Pandas\Used_Bikes (1).csv")

In [57]:
# displaying the dataframe
df

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...,...
32643,Hero Passion Pro 100cc,39000.0,Delhi,22000.0,First Owner,4.0,100.0,Hero
32644,TVS Apache RTR 180cc,30000.0,Karnal,6639.0,First Owner,9.0,180.0,TVS
32645,Bajaj Avenger Street 220,60000.0,Delhi,20373.0,First Owner,6.0,220.0,Bajaj
32646,Hero Super Splendor 125cc,15600.0,Jaipur,84186.0,First Owner,16.0,125.0,Hero
32647,Bajaj Pulsar 150cc,22000.0,Pune,60857.0,First Owner,13.0,150.0,Bajaj

In [58]:
# getting the information about the dataframe
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 32648 entries, 0 to 32647
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bike_name   32648 non-null  str
 1   price       32648 non-null  float64
 2   city        32648 non-null  str
 3   kms_driven  32648 non-null  float64
 4   owner       32648 non-null  str
 5   age         32648 non-null  float64
 6   power       32648 non-null  float64
 7   brand       32648 non-null  str
dtypes: float64(4), str(4)
memory usage: 2.0 MB

In [59]:
# getting the columns of the dataframe
df.columns

Index(['bike_name', 'price', 'city', 'kms_driven', 'owner', 'age', 'power',
       'brand'],
      dtype='str')

In [60]:
# getting the first 5 rows of the dataframe
df.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha

In [61]:
# getting the first 10 rows of the dataframe
df.head(10)

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha
5,Yamaha FZs 150cc,53499.0,Delhi,25000.0,First Owner,6.0,150.0,Yamaha
6,Honda CB Hornet 160R ABS DLX,85000.0,Delhi,8200.0,First Owner,3.0,160.0,Honda
7,Hero Splendor Plus Self Alloy 100cc,45000.0,Delhi,12645.0,First Owner,3.0,100.0,Hero
8,Royal Enfield Thunderbird X 350cc,145000.0,Bangalore,9190.0,First Owner,3.0,350.0,Royal Enfield
9,Royal Enfield Classic Desert Storm 500cc,88000.0,Delhi,19000.0,Second Owner,7.0,500.0,Royal Enfield

In [62]:
# getting the last 5 rows of the dataframe
df.tail()

,bike_name,price,city,kms_driven,owner,age,power,brand
32643,Hero Passion Pro 100cc,39000.0,Delhi,22000.0,First Owner,4.0,100.0,Hero
32644,TVS Apache RTR 180cc,30000.0,Karnal,6639.0,First Owner,9.0,180.0,TVS
32645,Bajaj Avenger Street 220,60000.0,Delhi,20373.0,First Owner,6.0,220.0,Bajaj
32646,Hero Super Splendor 125cc,15600.0,Jaipur,84186.0,First Owner,16.0,125.0,Hero
32647,Bajaj Pulsar 150cc,22000.0,Pune,60857.0,First Owner,13.0,150.0,Bajaj

In [63]:
# getting the last 20 rows of the dataframe
df.tail(20)

,bike_name,price,city,kms_driven,owner,age,power,brand
32628,Bajaj Avenger Street 220,80000.0,Hyderabad,7127.0,First Owner,5.0,220.0,Bajaj
32629,Bajaj Platina 100cc,23000.0,Lucknow,20000.0,First Owner,6.0,100.0,Bajaj
32630,Suzuki Slingshot Plus 125cc,32000.0,Lucknow,22697.0,First Owner,7.0,125.0,Suzuki
32631,Yamaha SZ-RR 150cc,20000.0,Kanchipuram,52000.0,First Owner,10.0,150.0,Yamaha
32632,Bajaj Avenger Street 220,55005.0,Godhara,6600.0,First Owner,5.0,220.0,Bajaj
32633,Royal Enfield Classic 350cc,87000.0,Gautam Buddha Nagar,16336.0,First Owner,7.0,350.0,Royal Enfield
32634,Royal Enfield Thunderbird 350cc,70000.0,Mumbai,13858.0,Second Owner,11.0,350.0,Royal Enfield
32635,Suzuki Zeus 125cc,35000.0,Ahmedabad,11885.0,First Owner,12.0,125.0,Suzuki
32636,KTM RC 390cc,196700.0,Mumbai,13216.0,First Owner,4.0,390.0,KTM
32637,Bajaj Pulsar 150cc,25000.0,Delhi,32588.0,First Owner,9.0,150.0,Bajaj
32638,Yamaha Fazer 25 250cc,123000.0,Kadapa,14500.0,First Owner,4.0,250.0,Yamaha
32639,Royal Enfield Classic 350cc,95500.0,Delhi,18000.0,First Owner,8.0,350.0,Royal Enfield
32640,Hero Passion Pro 100cc,32000.0,Delhi,12000.0,First Owner,6.0,100.0,Hero
32641,Bajaj Avenger 220cc,41000.0,Delhi,20245.0,Second Owner,11.0,220.0,Bajaj
32642,Hero Passion 100cc,15000.0,Perumbavoor,35000.0,Second Owner,19.0,100.0,Hero
32643,Hero Passion Pro 100cc,39000.0,Delhi,22000.0,First Owner,4.0,100.0,Hero
32644,TVS Apache RTR 180cc,30000.0,Karnal,6639.0,First Owner,9.0,180.0,TVS
32645,Bajaj Avenger Street 220,60000.0,Delhi,20373.0,First Owner,6.0,220.0,Bajaj
32646,Hero Super Splendor 125cc,15600.0,Jaipur,84186.0,First Owner,16.0,125.0,Hero
32647,Bajaj Pulsar 150cc,22000.0,Pune,60857.0,First Owner,13.0,150.0,Bajaj

In [64]:
# getting the age column of the dataframe
df.age

0         3.0
1         4.0
2         8.0
3         4.0
4         3.0
         ...
32643     4.0
32644     9.0
32645     6.0
32646    16.0
32647    13.0
Name: age, Length: 32648, dtype: float64

In [65]:
# getting the brand column of the dataframe
df[['brand']]

               brand
0                TVS
1      Royal Enfield
2            Triumph
3                TVS
4             Yamaha
...              ...
32643           Hero
32644            TVS
32645          Bajaj
32646           Hero
32647          Bajaj

[32648 rows x 1 columns]

In [66]:
# getting the unique values of the brand column
df['brand'].unique()

<StringArray>
[            'TVS',   'Royal Enfield',         'Triumph',          'Yamaha',
           'Honda',            'Hero',           'Bajaj',          'Suzuki',
         'Benelli',             'KTM',        'Mahindra',        'Kawasaki',
          'Ducati',         'Hyosung', 'Harley-Davidson',            'Jawa',
             'BMW',          'Indian',         'Rajdoot',             'LML',
           'Yezdi',              'MV',           'Ideal']
Length: 23, dtype: str

In [67]:
# getting the number of unique values in the brand column
df['brand'].nunique()

23

In [68]:
# getting the count of each unique value in the brand column
df["brand"].value_counts()

brand
Bajaj              11213
Hero                6368
Royal Enfield       4178
Yamaha              3916
Honda               2108
Suzuki              1464
TVS                 1247
KTM                 1077
Harley-Davidson      737
Kawasaki              79
Hyosung               64
Benelli               56
Mahindra              55
Triumph               26
Ducati                22
BMW                   16
Jawa                  10
MV                     4
Indian                 3
Ideal                  2
Rajdoot                1
LML                    1
Yezdi                  1
Name: count, dtype: int64

In [69]:
# getting the number of missing values in each column
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
32643     True
32644     True
32645     True
32646     True
32647     True
Length: 32648, dtype: bool

In [70]:
# getting the total number of duplicated rows in the dataframe
df.duplicated().sum()

np.int64(25324)

In [71]:
# dropping the duplicated rows from the dataframe
df.drop_duplicates(inplace=True)

In [72]:
# displaying the dataframe
df

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...,...
9362,Hero Hunk Rear Disc 150cc,25000.0,Delhi,48587.0,First Owner,8.0,150.0,Hero
9369,Bajaj Avenger 220cc,35000.0,Bangalore,60000.0,First Owner,9.0,220.0,Bajaj
9370,Harley-Davidson Street 750 ABS,450000.0,Jodhpur,3430.0,First Owner,4.0,750.0,Harley-Davidson
9371,Bajaj Dominar 400 ABS,139000.0,Hyderabad,21300.0,First Owner,4.0,400.0,Bajaj
9372,Bajaj Avenger Street 220,80000.0,Hyderabad,7127.0,First Owner,5.0,220.0,Bajaj

In [73]:
# getting the number of missing values in each column
df.isnull().sum()

bike_name     0
price         0
city          0
kms_driven    0
owner         0
age           0
power         0
brand         0
dtype: int64

In [74]:
# dropping the rows with missing values from the dataframe
df.dropna(inplace=True)

In [75]:

# displaying the dataframe
df

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...,...
9362,Hero Hunk Rear Disc 150cc,25000.0,Delhi,48587.0,First Owner,8.0,150.0,Hero
9369,Bajaj Avenger 220cc,35000.0,Bangalore,60000.0,First Owner,9.0,220.0,Bajaj
9370,Harley-Davidson Street 750 ABS,450000.0,Jodhpur,3430.0,First Owner,4.0,750.0,Harley-Davidson
9371,Bajaj Dominar 400 ABS,139000.0,Hyderabad,21300.0,First Owner,4.0,400.0,Bajaj
9372,Bajaj Avenger Street 220,80000.0,Hyderabad,7127.0,First Owner,5.0,220.0,Bajaj

In [76]:
# getting the bike_name and brand columns of the dataframe
df[["bike_name","brand"]]

                                 bike_name            brand
0       TVS Star City Plus Dual Tone 110cc              TVS
1              Royal Enfield Classic 350cc    Royal Enfield
2                     Triumph Daytona 675R          Triumph
3                     TVS Apache RTR 180cc              TVS
4     Yamaha FZ S V 2.0 150cc-Ltd. Edition           Yamaha
...                                    ...              ...
9362             Hero Hunk Rear Disc 150cc             Hero
9369                   Bajaj Avenger 220cc            Bajaj
9370        Harley-Davidson Street 750 ABS  Harley-Davidson
9371                 Bajaj Dominar 400 ABS            Bajaj
9372              Bajaj Avenger Street 220            Bajaj

[7324 rows x 2 columns]

In [77]:
# dropping the age column from the dataframe
df.drop(columns=["city"],inplace=True)

In [78]:
# displaying the dataframe
df

,bike_name,price,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,10000.0,First Owner,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...
9362,Hero Hunk Rear Disc 150cc,25000.0,48587.0,First Owner,8.0,150.0,Hero
9369,Bajaj Avenger 220cc,35000.0,60000.0,First Owner,9.0,220.0,Bajaj
9370,Harley-Davidson Street 750 ABS,450000.0,3430.0,First Owner,4.0,750.0,Harley-Davidson
9371,Bajaj Dominar 400 ABS,139000.0,21300.0,First Owner,4.0,400.0,Bajaj
9372,Bajaj Avenger Street 220,80000.0,7127.0,First Owner,5.0,220.0,Bajaj

In [79]:
# getting the statistical summary of the dataframe
df.describe()

              price     kms_driven          age        power
count  7.324000e+03    7324.000000  7324.000000  7324.000000
mean   8.488390e+04   23910.496587     6.656472   228.133397
std    1.209662e+05   27317.594631     3.605299   158.324219
min    4.400000e+03       1.000000     1.000000   100.000000
25%    3.000000e+04   10155.750000     4.000000   125.000000
50%    5.500000e+04   19000.000000     6.000000   160.000000
75%    1.000000e+05   30112.000000     8.000000   350.000000
max    1.900000e+06  750000.000000    63.000000  1800.000000

In [80]:
# getting the count of each unique value in the brand column
df[df["brand"]=="Royal Enfield"].value_counts()

bike_name                                 price     kms_driven  owner         age   power  brand
Royal Enfield Classic 350cc               140000.0  7000.0      First Owner   4.0   350.0  Royal Enfield    2
                                          119900.0  11000.0     First Owner   4.0   350.0  Royal Enfield    1
Royal Enfield Thunderbird X 350cc         145000.0  9190.0      First Owner   3.0   350.0  Royal Enfield    1
Royal Enfield Classic Desert Storm 500cc  88000.0   19000.0     Second Owner  7.0   500.0  Royal Enfield    1
Royal Enfield Classic Chrome 500cc        121700.0  24520.0     First Owner   5.0   500.0  Royal Enfield    1
                                                                                                           ..
Royal Enfield Classic 500cc               146006.0  8575.0      First Owner   4.0   500.0  Royal Enfield    1
Royal Enfield Classic 350cc               100000.0  25000.0     First Owner   10.0  350.0  Royal Enfield    1
Royal Enfield Himalayan 410cc             120000.0  8492.0      First Owner   5.0   410.0  Royal Enfield    1
                                          138000.0  5000.0      First Owner   5.0   410.0  Royal Enfield    1
Royal Enfield Bullet Twinspark 350cc      80000.0   56968.0     First Owner   8.0   350.0  Royal Enfield    1
Name: count, Length: 1345, dtype: int64

In [81]:
# getting the count of each unique value in the brand column for first owner bikes
royal_bikes=df[(df["brand"]=="Royal Enfield")&(df["owner"]=="First Owner")]

In [82]:
# displaying the royal bikes dataframe
royal_bikes[royal_bikes["owner"]=="First Owner"]

,bike_name,price,kms_driven,owner,age,power,brand
1,Royal Enfield Classic 350cc,119900.0,11000.0,First Owner,4.0,350.0,Royal Enfield
8,Royal Enfield Thunderbird X 350cc,145000.0,9190.0,First Owner,3.0,350.0,Royal Enfield
23,Royal Enfield Classic Chrome 500cc,121700.0,24520.0,First Owner,5.0,500.0,Royal Enfield
36,Royal Enfield Classic 350cc,98800.0,39000.0,First Owner,5.0,350.0,Royal Enfield
38,Royal Enfield Thunderbird X 500cc,190500.0,4550.0,First Owner,2.0,500.0,Royal Enfield
...,...,...,...,...,...,...,...
9261,Royal Enfield Classic 500cc,146006.0,8575.0,First Owner,4.0,500.0,Royal Enfield
9319,Royal Enfield Classic 350cc,100000.0,25000.0,First Owner,10.0,350.0,Royal Enfield
9337,Royal Enfield Himalayan 410cc,120000.0,8492.0,First Owner,5.0,410.0,Royal Enfield
9338,Royal Enfield Himalayan 410cc,138000.0,5000.0,First Owner,5.0,410.0,Royal Enfield
9344,Royal Enfield Bullet Twinspark 350cc,80000.0,56968.0,First Owner,8.0,350.0,Royal Enfield

In [83]:
# getting the count of each unique value in the brand column for first owner bikes using query method
df.query('brand=="Royal Enfield" and owner=="First Owner"')

,bike_name,price,kms_driven,owner,age,power,brand
1,Royal Enfield Classic 350cc,119900.0,11000.0,First Owner,4.0,350.0,Royal Enfield
8,Royal Enfield Thunderbird X 350cc,145000.0,9190.0,First Owner,3.0,350.0,Royal Enfield
23,Royal Enfield Classic Chrome 500cc,121700.0,24520.0,First Owner,5.0,500.0,Royal Enfield
36,Royal Enfield Classic 350cc,98800.0,39000.0,First Owner,5.0,350.0,Royal Enfield
38,Royal Enfield Thunderbird X 500cc,190500.0,4550.0,First Owner,2.0,500.0,Royal Enfield
...,...,...,...,...,...,...,...
9261,Royal Enfield Classic 500cc,146006.0,8575.0,First Owner,4.0,500.0,Royal Enfield
9319,Royal Enfield Classic 350cc,100000.0,25000.0,First Owner,10.0,350.0,Royal Enfield
9337,Royal Enfield Himalayan 410cc,120000.0,8492.0,First Owner,5.0,410.0,Royal Enfield
9338,Royal Enfield Himalayan 410cc,138000.0,5000.0,First Owner,5.0,410.0,Royal Enfield
9344,Royal Enfield Bullet Twinspark 350cc,80000.0,56968.0,First Owner,8.0,350.0,Royal Enfield

In [ ]:
hero_bike=df.query('brand=="Hero"and kms_driven<50000')
# displaying the hero bike dataframe and getting the each unique value for the brand and kms_driven columns

In [85]:
hero_bike

,bike_name,price,kms_driven,owner,age,power,brand
7,Hero Splendor Plus Self Alloy 100cc,45000.0,12645.0,First Owner,3.0,100.0,Hero
22,Hero Splendor iSmart Plus IBS 110cc,46500.0,3500.0,First Owner,2.0,110.0,Hero
26,Hero Super Splendor 125cc,20000.0,29305.0,First Owner,16.0,125.0,Hero
48,Hero Hunk 150cc,37000.0,10800.0,First Owner,8.0,150.0,Hero
66,Hero CD Deluxe 100cc,12200.0,46643.0,First Owner,14.0,100.0,Hero
...,...,...,...,...,...,...,...
9315,Hero CD Deluxe 100cc,20000.0,5000.0,First Owner,10.0,100.0,Hero
9316,Hero Glamour Fi 125cc,37000.0,28478.0,First Owner,5.0,125.0,Hero
9339,Hero Splendor Plus 100cc,11400.0,20000.0,Second Owner,17.0,100.0,Hero
9341,Hero CD Deluxe 100cc,25000.0,11122.0,First Owner,11.0,100.0,Hero
9362,Hero Hunk Rear Disc 150cc,25000.0,48587.0,First Owner,8.0,150.0,Hero

In [ ]:
Hero=hero_bike.query('owner<="Second Owner" and age<=2')
#displaying the second query result of slected owner and age

In [92]:
Hero

,bike_name,price,kms_driven,owner,age,power,brand
22,Hero Splendor iSmart Plus IBS 110cc,46500.0,3500.0,First Owner,2.0,110.0,Hero
121,Hero Splendor iSmart Plus IBS 110cc,48672.0,608.0,First Owner,2.0,110.0,Hero
172,Hero Super Splendor 125cc,43778.0,948.0,First Owner,2.0,125.0,Hero
176,Hero Splendor Plus Kick Alloy 100cc,48500.0,5500.0,First Owner,2.0,100.0,Hero
197,Hero HF Deluxe i3s iBS 100cc,60000.0,4000.0,First Owner,2.0,100.0,Hero
307,Hero Xpulse 200T,76000.0,3000.0,First Owner,2.0,200.0,Hero
328,Hero Passion Xpro 110cc,58000.0,7758.0,First Owner,2.0,110.0,Hero
419,Hero Passion Pro 110cc Drum,56500.0,10000.0,First Owner,2.0,110.0,Hero
492,Hero Splendor Plus IBS i3S 100cc,53300.0,10000.0,First Owner,2.0,100.0,Hero
505,Hero Splendor Plus IBS i3S 100cc,65000.0,2600.0,First Owner,2.0,100.0,Hero
708,Hero Splendor Plus Self Alloy 100cc,51300.0,2800.0,First Owner,2.0,100.0,Hero
787,Hero Xtreme 200R,66000.0,1112.0,First Owner,2.0,200.0,Hero
1477,Hero Xpulse 200cc FI,104000.0,5618.0,First Owner,1.0,200.0,Hero
1552,Hero Xtreme 200R ABS,97400.0,9700.0,First Owner,2.0,200.0,Hero
1945,Hero Xtreme 200R ABS,88000.0,6600.0,First Owner,2.0,200.0,Hero
2479,Hero Splendor Plus IBS i3S 100cc,47167.0,4664.0,First Owner,2.0,100.0,Hero
2631,Hero Splendor iSmart Plus IBS 110cc,50000.0,11584.0,First Owner,2.0,110.0,Hero
2654,Hero Passion Pro i3S Alloy 100cc,60000.0,1877.0,First Owner,2.0,100.0,Hero
2952,Hero Passion Pro i3S Alloy 100cc IBS,62000.0,1800.0,First Owner,2.0,100.0,Hero
3029,Hero HF Deluxe Eco 100cc,55000.0,2309.0,First Owner,2.0,100.0,Hero
3298,Hero Splendor Plus IBS i3S 100cc,56000.0,1745.0,First Owner,2.0,100.0,Hero
3882,Hero Splendor Plus Self Alloy 100cc,55000.0,4195.0,First Owner,2.0,100.0,Hero
3946,Hero Xtreme 200R ABS,90000.0,1406.0,First Owner,2.0,200.0,Hero
4055,Hero Splendor Plus Self Alloy 100cc,55000.0,5238.0,First Owner,2.0,100.0,Hero
4512,Hero HF Deluxe Eco 100cc,41000.0,4544.0,First Owner,2.0,100.0,Hero
5810,Hero Glamour i3s 125cc,75000.0,7488.0,First Owner,2.0,125.0,Hero
5933,Hero Super Splendor 125cc,57000.0,3200.0,First Owner,2.0,125.0,Hero
6613,Hero HF Deluxe self Alloy 100cc,39500.0,5448.0,First Owner,2.0,100.0,Hero
6981,Hero Passion Pro 110cc Drum,56000.0,1168.0,First Owner,2.0,110.0,Hero
7381,Hero HF Deluxe Eco 100cc,46000.0,11309.0,First Owner,2.0,100.0,Hero
8531,Hero Xtreme 200R ABS,85000.0,40.0,First Owner,2.0,200.0,Hero

In [ ]:
#find the total number of bikes for hero brand with selected conditions
Hero.

bike_name                             price     kms_driven  owner        age  power  brand
Hero Splendor iSmart Plus IBS 110cc   46500.0   3500.0      First Owner  2.0  110.0  Hero     1
                                      48672.0   608.0       First Owner  2.0  110.0  Hero     1
Hero Super Splendor 125cc             43778.0   948.0       First Owner  2.0  125.0  Hero     1
Hero Splendor Plus Kick Alloy 100cc   48500.0   5500.0      First Owner  2.0  100.0  Hero     1
Hero HF Deluxe i3s iBS 100cc          60000.0   4000.0      First Owner  2.0  100.0  Hero     1
Hero Xpulse 200T                      76000.0   3000.0      First Owner  2.0  200.0  Hero     1
Hero Passion Xpro 110cc               58000.0   7758.0      First Owner  2.0  110.0  Hero     1
Hero Passion Pro 110cc Drum           56500.0   10000.0     First Owner  2.0  110.0  Hero     1
Hero Splendor Plus IBS i3S 100cc      53300.0   10000.0     First Owner  2.0  100.0  Hero     1
                                      65000.0   2600.0      First Owner  2.0  100.0  Hero     1
Hero Splendor Plus Self Alloy 100cc   51300.0   2800.0      First Owner  2.0  100.0  Hero     1
Hero Xtreme 200R                      66000.0   1112.0      First Owner  2.0  200.0  Hero     1
Hero Xpulse 200cc FI                  104000.0  5618.0      First Owner  1.0  200.0  Hero     1
Hero Xtreme 200R ABS                  97400.0   9700.0      First Owner  2.0  200.0  Hero     1
                                      88000.0   6600.0      First Owner  2.0  200.0  Hero     1
Hero Splendor Plus IBS i3S 100cc      47167.0   4664.0      First Owner  2.0  100.0  Hero     1
Hero Splendor iSmart Plus IBS 110cc   50000.0   11584.0     First Owner  2.0  110.0  Hero     1
Hero Passion Pro i3S Alloy 100cc      60000.0   1877.0      First Owner  2.0  100.0  Hero     1
Hero Passion Pro i3S Alloy 100cc IBS  62000.0   1800.0      First Owner  2.0  100.0  Hero     1
Hero HF Deluxe Eco 100cc              55000.0   2309.0      First Owner  2.0  100.0  Hero     1
Hero Splendor Plus IBS i3S 100cc      56000.0   1745.0      First Owner  2.0  100.0  Hero     1
Hero Splendor Plus Self Alloy 100cc   55000.0   4195.0      First Owner  2.0  100.0  Hero     1
Hero Xtreme 200R ABS                  90000.0   1406.0      First Owner  2.0  200.0  Hero     1
Hero Splendor Plus Self Alloy 100cc   55000.0   5238.0      First Owner  2.0  100.0  Hero     1
Hero HF Deluxe Eco 100cc              41000.0   4544.0      First Owner  2.0  100.0  Hero     1
Hero Glamour i3s 125cc                75000.0   7488.0      First Owner  2.0  125.0  Hero     1
Hero Super Splendor 125cc             57000.0   3200.0      First Owner  2.0  125.0  Hero     1
Hero HF Deluxe self Alloy 100cc       39500.0   5448.0      First Owner  2.0  100.0  Hero     1
Hero Passion Pro 110cc Drum           56000.0   1168.0      First Owner  2.0  110.0  Hero     1
Hero HF Deluxe Eco 100cc              46000.0   11309.0     First Owner  2.0  100.0  Hero     1
Hero Xtreme 200R ABS                  85000.0   40.0        First Owner  2.0  200.0  Hero     1
Name: count, dtype: int64

In [ ]:
tvs=df.query('brand=="TVS" and kms_driven<75000')
# same query for TVS bike

In [97]:
tvs

,bike_name,price,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,17654.0,First Owner,3.0,110.0,TVS
3,TVS Apache RTR 180cc,65000.0,16329.0,First Owner,4.0,180.0,TVS
52,TVS Apache RTR 160cc,60000.0,30000.0,First Owner,5.0,160.0,TVS
114,TVS Apache RTR 160 4V Disc,69900.0,8700.0,First Owner,3.0,160.0,TVS
130,TVS Phoenix Disc 125cc,21500.0,10500.0,First Owner,5.0,125.0,TVS
...,...,...,...,...,...,...,...
9192,TVS Apache RTR 160cc,60000.0,20482.0,Second Owner,4.0,160.0,TVS
9247,TVS Apache RTR 160cc Rear Disc,70000.0,4116.0,First Owner,3.0,160.0,TVS
9307,TVS Apache RTR 160cc,30000.0,30000.0,First Owner,10.0,160.0,TVS
9312,TVS Apache RTR 200 4V FI,65450.0,9238.0,First Owner,3.0,200.0,TVS
9322,TVS Radeon 110cc Drum SBT,58000.0,4020.0,First Owner,2.0,110.0,TVS

In [ ]:
tvs_bike=tvs.query('price<=50000 and age<=2')
#same query for TVS bike with price and age condition

In [ ]:
tvs_bike
# getting the final result for checking the no. of TVS bikes

            bike_name    price  kms_driven        owner  age  power brand
7055  TVS Sport 100cc  46000.0      6222.0  First Owner  2.0  100.0   TVS

In [ ]:
# another way to get the same result for TVS bike with selected conditions
df[(df["brand"]=="TVS") & (df["kms_driven"]<75000) & (df["price"]<=50000) & (df["age"]<=2)]

            bike_name    price  kms_driven        owner  age  power brand
7055  TVS Sport 100cc  46000.0      6222.0  First Owner  2.0  100.0   TVS

### Encoding in pandas

In [104]:
owner={
    'First Owner':1 , 'Second Owner':2 , 'Third Owner':3 , 'Fourth & Above Owner':4
}

In [105]:
df['owner']=df['owner'].map(owner)

In [108]:
df['owner'].unique()

array([ 1.,  2.,  3., nan])

In [109]:
df.drop(columns=["bike_name"])

         price  kms_driven  owner  age  power            brand
0      35000.0     17654.0    1.0  3.0  110.0              TVS
1     119900.0     11000.0    1.0  4.0  350.0    Royal Enfield
2     600000.0       110.0    1.0  8.0  675.0          Triumph
3      65000.0     16329.0    1.0  4.0  180.0              TVS
4      80000.0     10000.0    1.0  3.0  150.0           Yamaha
...        ...         ...    ...  ...    ...              ...
9362   25000.0     48587.0    1.0  8.0  150.0             Hero
9369   35000.0     60000.0    1.0  9.0  220.0            Bajaj
9370  450000.0      3430.0    1.0  4.0  750.0  Harley-Davidson
9371  139000.0     21300.0    1.0  4.0  400.0            Bajaj
9372   80000.0      7127.0    1.0  5.0  220.0            Bajaj

[7324 rows x 6 columns]

In [110]:
df['brand'].unique()

<StringArray>
[            'TVS',   'Royal Enfield',         'Triumph',          'Yamaha',
           'Honda',            'Hero',           'Bajaj',          'Suzuki',
         'Benelli',             'KTM',        'Mahindra',        'Kawasaki',
          'Ducati',         'Hyosung', 'Harley-Davidson',            'Jawa',
             'BMW',          'Indian',         'Rajdoot',             'LML',
           'Yezdi',              'MV',           'Ideal']
Length: 23, dtype: str

In [111]:

brand={
    'TVS':0 , 'Royal Enfield':1 , 'Triumph':2 , 'Yamaha':3 , 'Honda':4 , 'Hero':5 , 'Bajaj':6 , 'Suzuki':7 , 'Benelli':8 , 'KTM':9 , 'Mahindra':10 , 'Kawasaki':11 , 'Ducati':12 , 'Hyosung':13 , 'Harley-Davidson':14 , 'Jawa':15 , 'BMW':16 , 'Indian':17 , 'Rajdoot':18 , 'LML':19 , 'Yezdi':20 , 'MV':21 , 'Ideal':22
}

In [114]:
df['brand']=df['brand'].map(brand)

In [116]:
df['brand'].unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22])

### SciKit-Learn

In [ ]:
from sklearn.linear_model import LinearRegression